<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand display-4 ml-auto" style="font-size: 2rem;"></a>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="navbar-brand card-btn me-2" style="font-size: 2rem; padding-right: 20px;">Wszystkie kursy</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<section class="row">
    <aside class="sidebar col-md-3 navbar-dark bg-dark">
        <nav class="sidebar-nav">

            <ul class="list-group list-group-flush">

                <li class="list-group-item" >
                    <a class="btn btn-warning card-btn me-2 nav-link-back" th:href="@{/admin}"
                       onmouseover="this.style.color='white';" onmouseout="this.style.color='';">Powrót</a>
                </li>
                <li class="list-group-item " style="padding-top: 40px;">
                    <a href="#" class="custom-btn" style="color: lightslategrey;">
                        <i class="ion-bag"></i> <span>Kursy</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="custom-btn ">
                        <i class="ion-ios-settings"></i> <span>Moduły</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="custom-btn ">
                        <i class="ion-ios-settings"></i> <span>Trenerzy</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

</section>

<div class="container-fluid content">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div class="mb-3">
                    <button type="submit" class="btn btn-secondary login-btn">Dodaj kurs</button>
                </div>
                <table class="table action-panel table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Naza kursu</th>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Dostępne miejsca</th>
                        <th>Opis szczegółowy</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course : ${courseModel}">
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.startDate}"></td>
                        <td th:text="${course.endDate}"></td>
                        <td th:text="${course.capacity}"></td>
                        <td>
                            <a th:href="@{/courseDetails/{id}(id=${course.id})}"
                               class="btn-right btn btn-warning"
                               role="button">
                                Edytuj
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>