<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand display-4" style="font-size: 2rem;">Pełna oferta kursów</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="btn btn-warning card-btn me-2 nav-link-back" th:href="@{/home}" onmouseover="this.style.color='white';" onmouseout="this.style.color='';">Powrót</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<br/>
<br/>
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table action-panel table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Naza kursu</th>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Dostępne miejsca</th>
                        <th>Opis szczegółowy</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="course : ${courseModel}">
                            <td th:text="${course.name}"></td>
                            <td th:text="${course.startDate}"></td>
                            <td th:text="${course.endDate}"></td>
                            <td th:text="${course.capacity}"></td>
                            <td>
                                <a th:href="@{/courseDetails/{id}(id=${course.id})}"
                                   class="btn-right btn btn-warning"
                                   role="button">
                                    Zobacz więcej
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>