<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit-courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-end">
        <div class="d-flex align-items-center">
            <a class="navbar-brand display-4" style="font-size: 1.5rem; margin-left: 0px;">Edycja kursu</a>
            <div style="width: 40px; height: 40px; background-color: #ccc; border-radius: 50%; margin-right: 30px; text-align: center; line-height: 40px; margin-left: 0px;">
                <span style="color: white; font-size: 1.5rem; ">A</span>
            </div>
        </div>
    </div>
</nav>

<section class="row">
    <aside class="sidebar col-md-3 navbar-dark bg-dark">
        <nav class="sidebar-nav">

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <a class="btn btn-warning card-btn me-2 nav-link-back" th:href="@{/a-courses}"
                       onmouseover="this.style.color='white';" onmouseout="this.style.color='';">Powrót</a>
                </li>
                <li class="list-group-item " style="padding-top: 40px;">
                    <a href="#" class="custom-btn" style="color: lightslategrey;">
                        <i class="ion-bag"></i> <span>Kursy</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="custom-btn" th:href="@{/modules}">
                        <i class="ion-ios-settings"></i> <span>Moduły</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="custom-btn" th:href="@{/teachers}">
                        <i class="ion-ios-settings"></i> <span>Trenerzy</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="custom-btn" th:href="@{/users}">
                        <i class="ion-ios-settings"></i> <span>Użytkownicy</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</section>

<div class="container-fluid">
    <div class="row content">
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/editCourse}" class="form-horizontal">
                        <input type="hidden" th:field="*{id}"/>

                        <div class="mb-3">
                            <label class="form-label" for="name">Zmień nazwę kursu:</label>
                            <input class="form-control" type="text" id="name" name="name"
                                   th:field="*{courseModel.name}"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="modules">Zmień moduł</label>
                            <select class="form-control" id="modules" name="moduleId" multiple="multiple">
                                <option th:each="module : ${modules}"
                                        th:value="${module.id}"
                                        th:text="${module.subject}"
                                        th:selected="${courseModel.modules != null and courseModel.modules.contains(module)}">
                                    </option>
                            </select>
                        </div>

                        <div class=" mb-3">
                            <label class="form-label" for="startDate">Zmień datę rozpoczęcia:</label>
                            <input class="form-control" type="date" id="startDate" name="startDate"
                                   th:value="*{courseModel.startDate}"/>
                        </div>

                        <div class=" mb-3">
                            <label class="form-label" for="endDate">Zmień datę zakończenia:</label>
                            <input class="form-control" type="date" id="endDate" name="endDate"
                                   th:value="*{courseModel.endDate}"/>
                        </div>

                        <div class=" mb-3">
                            <label class="form-label" for="capacity">Zmień dostępne miejsca:</label>
                            <input class="form-control" type="number" id="capacity" name="capacity"
                                   th:field="*{courseModel.capacity}"/>
                        </div>

                        <div class=" mb-3">
                            <label class="form-label" for="basePrice">Zmień cenę bazową:</label>
                            <input class="form-control" type="number" id="basePrice" name="basePrice"
                                   th:field="*{courseModel.basePrice}"/>
                        </div>

                        <div class=" mb-3">
                            <label class="form-label" for="description">Zmień opis szczegółowy</label>
                            <input class="form-control" type="text" id="description" name="description"
                                   th:field="*{courseModel.description}"/>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-warning">Zapisz zmiany</button>
                        </div>
                    </form>
                    <form method="post" role="form" th:action="@{/deleteCourse/{id}(id=${courseModel.id})}"
                          class="form-horizontal">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-danger" name="action" value="delete">Usuń kurs</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>