<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand display-4" style="font-size: 2rem;">Apollo IT SCHOOL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="btn btn-warning card-btn me-2 nav-link-back" th:href="@{/home}" onmouseover="this.style.color='white';" onmouseout="this.style.color='';">Powrót</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-white"></nav>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Nieprawidłowa Nazwa użytkownika lub Hasło!</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">Zostałeś pomyślnie wylogowany.</div>
            </div>

            <div class="login-container">
                <h2 class="text-center mb-4">Logowanie</h2>
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/login}"
                          class="form-horizontal">
                        <div class=" mb-3">
                            <label class="form-label" for="username">Nazwa użytkownika:</label>
                            <input type="text"
                                   id="username" name="username"
                                   class="form-control login-input"
                                   placeholder="Wprowadź nazwę użytkownika"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Hasło:</label>
                            <input type="password" id="password" name="password"
                                   class="form-control login-input" placeholder="Wprowadź hasło"/>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-warning login-btn">Zaloguj</button>
                        </div>
                        <div class="register-text">
                            Nie masz konta? <a href="link_do_strony_rejestracji" th:href="@{/registration}" class="register-link">Zarejestruj
                            się</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>